<div class="listContainer">
  <div *ngFor = "let shop of Shops">
    <div *ngIf="!checkIfInLikedList(shop)" >
      <div class="card" style="width: 20rem;margin: 10px;">
        <img class="card-img-top" src="../../assets/img/bg.jpg" height="180px" width="286px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{shop.ShopsName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body" style="display: flex; color:white;justify-content: space-around">
          <button class="btn btn-success" (click)="AddToFavoriteList(shop)">Add to favorite list</button>
        </div>
      </div>
    </div>
  </div>
</div>
