<div class="login-form-2">
  <h3>Guest ? Register now ! </h3>
  <form method="post">
    <div class="form-group">
      <input type="email" class="form-control" name="userEmail" placeholder="Your Email *" [(ngModel)]="userEmail" value="" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Your Username *" [(ngModel)]="username" value="" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="userPassword" placeholder="Your Password *" [(ngModel)]="userPassword" value="" />
    </div>
    <div class="form-group">
      <input type="submit" (click)="register()" class="btnSubmit" value="Register" />
    </div>
    <div class="form-group">

    </div>
  </form>
</div>
